@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Thin.woff") format("woff");

  font-weight: 100;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Light.woff") format("woff");

  font-weight: 300;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff") format("woff");

  font-weight: 400;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff") format("woff");

  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff") format("woff");

  font-weight: 700;
}

body {
  font-family: "Pretendard", sans-serif !important;
  color: #202020;
}

.slick-arrow {
  display: none !important;
}

@layer utilities {
  .hover-pause {
    animation-play-state: running;
  }
  .hover-pause:hover {
    animation-play-state: paused;
  }
  .hover-pause:hover > div > .banner {
    animation-play-state: paused;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b3b2b3;
  border-radius: 10px;
  border: 2px solid #fff;
}

.partners-gradient-text {
  background: linear-gradient(
    94deg,
    #db00ff -6.83%,
    #84e9fd 70.38%,
    #5200ff 141.06%,
    #99ff75 149.14%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner-program-gradient-text {
  background: linear-gradient(
    94deg,
    #db00ff -6.83%,
    #84e9fd 100.79%,
    #5200ff 141.06%,
    #99ff75 149.14%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
